<nav class="navbar navbar-expand navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Платформа репетиторов</a>
        <div>
            <ul class="navbar-nav">
                {% if session.get('user') and session['user']['is_admin'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/students">Студенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachers">Преподаватели</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/schedule">Расписание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Группы</a>
                </li>
                <li class="nav-item ">
                {% if session.get('user') %}
                <a class="nav-link" href="/logout">{{session['user']['FIO_teacher']}} (выйти)</a>
                {% else %}
                <a class="nav-link" href="/login">Войти</a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
