{% extends '_base.j2' %}

{% block title %}
Добавить преподавателя
{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-4 d-flex">
        <h4>Добавить преподавателя</h4>
        <a href="/teachers" class="btn btn-secondary ms-auto">Назад</a>
    </div>

    <form method="post" class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="FIO_teacher">ФИО</label>
                <input name="FIO_teacher" id="FIO_teacher" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="telnumber_teacher">Телефон</label>
                <input name="telnumber_teacher" id="telnumber_teacher" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password">Пароль</label>
                <input name="password" id="password" type="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <input name="is_admin" id="is_admin" type="checkbox" class="form-check-input">
                <label for="is_admin" class="form-check-label">Администратор</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}
