{% extends '_base.j2' %}

{% block title %}
Студенты
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex">
        <h4>Студенты</h4>
        <a href='/students/create' class="btn btn-success ms-auto" id="add-student-button">
            Добавить студента
        </a>
    </div>
    <div class="row table-row py-1 mt-3">
        <b class="col">Студент</b>
        <b class="col">Телефон</b>
    </div>
    {% for student in students %}
        <div class="row table-row py-1">
            <div class="col">{{ student.FIO_student }}</div>
            <div class="col">{{ student.telnumber_student }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
.table-row {
    border-bottom: 1px solid lightgray;
}
{% endblock %}
